<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="list.css" />
    <title>List</title>
  </head>
  <body>
    <ul class="list-stacked">
      <li class="list-item">someone liked your image</li>
      <li class="list-item">something is waiting in your cart</li>
      <li class="list-item">sale will be live in 30 min</li>
    </ul>
  </body>
</html>
