<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="list.css" />
    <title>List</title>
  </head>
  <body>
    <h2>Stacked list</h2>
    <ul class="list-stacked">
      <li class="list-item">
        <div class="avatar avatar-sm avatar-initials margin-r-10">SP</div>
        someone liked your image
      </li>
      <li class="list-item">
        <span class="fas fa-shopping-cart margin-r-10"></span>something is
        waiting in your cart
      </li>
      <li class="list-item">
        <span class="fa-solid fa-bell margin-r-10"></span>sale will be live in
        30 min
      </li>
    </ul>
    <br />
    <h2>Horizontal list</h2>
    <ul class="list-horizontal list-style-none">
      <li class="list-item">list1</li>
      <li class="list-item">list2</li>
      <li class="list-item">list3</li>
    </ul>
    <br />
    <section class="ul_temp_container">
      <h2>list style</h2>
      <ul>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul>
      <br />
      <ul class="list-style-circle">
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul>
      <br />
      <ul class="list-style-square">
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul>
      <br />
      <ul class="list-style-decimal">
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul>
      <br />
      <ul class="list-style-zero-decimal">
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
      </ul>
    </section>
  </body>
</html>
