@import '/index.css';

.navbar {
  display: grid;
  grid-template-columns: repeat(3, minmax(max-content, auto));
  width: 100vw;
  padding: 8px 16px;
  align-items: center;
  justify-items: center;
  backdrop-filter: blur(8px);
  z-index: 1;
  height: 4rem;
  margin-bottom: 4px;
}

.navbar-simple {
  grid-template-columns: repeat(2, 1fr);
}

.navbar-list,
.search-container {
  display: flex;
}

.search-container {
  align-items: center;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-item .btn {
  padding: 4px 6px;
}

.navbar-item .btn-only-icon {
  padding: 8px;
}

.search-container .btn {
  margin: 0;
}
