<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="navigation.css" />
    <title>Navigation</title>
  </head>
  <body>
    <header class="navbar shadow">
      <div class="logo_container secondary-text-color"><h2>Navbar</h2></div>
      <div class="search_container">
        <input class="textbox" type="text" />
        <button class="btn btn-only-icon btn-square">
          <span class="fa-solid fa-magnifying-glass"></span>
        </button>
      </div>
      <nav class="navbar-menu">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-only-icon"
              ><span class="fas fa-shopping-cart"></span
            ></a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-link">Login</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-link">Sign up</a>
          </li>
        </ul>
      </nav>
    </header>
    <header class="navbar navbar-simple shadow">
      <div class="logo_container secondary-text-color"><h2>Navbar</h2></div>

      <nav class="navbar-menu">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-only-icon"
              ><span class="fas fa-shopping-cart"></span
            ></a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-link">Login</a>
          </li>
          <li class="navbar-item">
            <a href="#" class="navbar-link btn btn-link">Sign up</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
