@import '/index.css';
body {
  width: 100vw;
  height: 100vh;

  background-color: rgba(238, 238, 238, 0.733);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--muted-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  height: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--hover-color);
}

/** common classes**/

.container {
  display: flex;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: fit-content;
  box-shadow: inset 4px 8px 32px rgba(212, 212, 212, 0.692);
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.vertical-container {
  flex-direction: column;
}

.margin-1r {
  margin: 1rem;
}

.margin-t-1r {
  margin-top: 1rem;
}
.margin-b-1r {
  margin-bottom: 1rem;
}

.margin-t-b-1r {
  margin: 1rem 0;
}
.margin-l-r-1r {
  margin: 0 1rem;
}

.margin-2r {
  margin: 2rem;
}

.margin-t-2r {
  margin-top: 2rem;
}

.margin-b-2r {
  margin-bottom: 2rem;
}

.margin-t-b-2r {
  margin: 2rem 0;
}

.margin-l-r-2r {
  margin: 0 2rem;
}

.code-preview {
  height: 25rem !important;
}

iframe {
  padding: 2;
  border-radius: 0.5rem;
  overflow: hidden;
}

/** common classes end**/

.layout {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  overflow: hidden;
  position: fixed;
}

.document-navbar {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-text-color);
  padding: 1rem 5rem;
  z-index: 1000;
}

.document-navbar-link {
  display: flex;
}

.body {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, max-content);
  grid-template-rows: 1fr;
  column-gap: 2rem;
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  grid-column: 1;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 0.5rem 4rem;
  overflow: scroll;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar:hover::-webkit-scrollbar {
  display: block;
}

.components {
  grid-column: 2;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.component-section {
  padding-top: 1rem;
}

.component-section:last-child {
  margin-bottom: 5rem;
}

.component-title {
  color: var(--secondary-color);
  font-weight: bold;
}
.description {
  opacity: 0.8;
  font-weight: 600;
}

.vertical-container .snackbar {
  position: relative;
}

/*get started page*/

.get-started-navbar {
  box-shadow: none;
}

.get-started-body {
  grid-template-columns: 1fr 1fr;
}

.get-started-section {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.get-started-section.container {
  border-radius: 1rem 0 0 1rem;
}

/* get started end*/

@media only screen and (max-width: 64em) {
  body {
    font-size: 87.5%;
  }

  .container {
    padding: 5px;
  }

  .body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    height: 100%;
  }

  .document-navbar {
    padding: 0.5rem 2rem;
  }

  .sidebar {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: min-content;
    padding: 0.8rem;
    width: 100vw;
  }

  .sidebar:hover::-webkit-scrollbar {
    display: block;
    height: 10px;
  }

  .sidebar:hover::-webkit-scrollbar-button {
    width: 2px;
  }

  .components {
    grid-row: 2;
    grid-column: 1;
    overflow: scroll;
    padding: 1rem;
  }

  iframe {
    width: 90vw;
  }

  /*get started*/

  .get-started-body {
    text-align: center;
    grid-template-rows: 0.5fr min-content;
  }

  .get-started-body p {
    text-align: center;
    font-size: 1rem;
  }
}
