@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css';
@import 'component/avatar/avatar.css';
@import 'component/alert/alert.css';
@import 'component/badge/badge.css';
@import 'component/button/button.css';
@import 'component/card/card.css';
@import 'component/image/image.css';
@import '/component/input/input.css';

:root {
  --primary-color: hsl(234, 74%, 74%);
  --secondary-color: hsl(262, 45%, 35%);
  --warning-color: hsl(50, 94%, 69%);
  --success-color: hsl(120, 96%, 74%);
  --failure-color: hsl(0, 100%, 76%);
  --active-color: hsl(234, 43%, 27%);
  --hover-color: hsl(234, 98%, 70%);
  --light-mode: white;
  --dark-mode: rgb(56, 56, 56);
  --primary-text-color: white;
  --secondary-text-color: black;
  --accent-color: hsl(50, 93%, 72%);
  --accent-hover-color: hsl(50, 100%, 65%);
}

/* reset css */

.temp_container {
  max-width: 35rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  padding: 0.5rem;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* reset css end */

body {
  font-family: 'Roboto', sans-serif;
}

/* utility classes*/

.d-flex {
  display: flex;
}

.margin-r-5 {
  margin-right: 5px;
}

.margin-l-5 {
  margin-left: 5px;
}

.margin-t-5 {
  margin-top: 5px;
}
.margin-b-5 {
  margin-bottom: 5px;
}

.small-text {
  font-size: 12px;
}

.primary-text-color {
  color: var(--primary-color);
}

.secondary-text-color {
  color: var(--secondary-color);
}

.accent-text-color {
  color: var(--accent-color);
}

.shadow {
  box-shadow: 4px 8px 32px rgba(0, 0, 0, 0.2);
}
