@import '/index.css';

.alert {
  width: max-content;
  border-radius: 0.5rem;
  width: 70%;
  padding: 10px 100px 10px 15px;
  padding: 10px 50px;
  background: var(--primary-color);
  color: var(--primary-text-color);
}

.alert-success {
  background: var(--success-color);
  color: var(--secondary-text-color);
}

.alert-failure {
  background: var(--failure-color);
  color: var(--primary-text-color);
}

.alert-warning {
  background: var(--warning-color);
  color: var(--secondary-text-color);
}
