<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <title>Alert</title>
  </head>
  <body>
    <h1>Alert</h1>
    <div class="alert">This is the default alert</div>
    <div class="alert alert-success">This is the success alert</div>
    <div class="alert alert-failure">This is the unsuccessful alert</div>
  </body>
</html>
