<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="alert.css" />
    <title>Alert</title>
  </head>
  <body>
    <h1>Alert</h1>
    <section class="temp_container">
      <div class="alert alert-default">This is the default alert</div>
      <div class="alert alert-success">This is the success alert</div>
      <div class="alert alert-failure">This is the unsuccessful alert</div>
      <div class="alert alert-warning">This is the warning alert</div>
    </section>

    <!--- Alert with outlines  ---->

    <h1>Alert with outlines</h1>
    <section class="temp_container">
      <div class="alert alert-default-outline">This is the default alert</div>
      <div class="alert alert-success-outline">This is the success alert</div>
      <div class="alert alert-failure-outline">
        This is the unsuccessful alert
      </div>
      <div class="alert alert-warning-outline">This is the warning alert</div>
    </section>
  </body>
</html>
