@import '/index.css';

.textbox {
  padding: 8px 1rem;
  border-radius: 0.4rem;
  border: 3px solid rgba(114, 114, 114, 0.404);
  margin: 0.5rem;
  outline: none;
  min-width: 18rem;
  width: 70%;
}

.textbox:focus {
  border-color: var(--primary-color);
  box-shadow: inset 4px 8px 12px rgba(114, 114, 114, 0.137);
}

.textbox-success {
  border-color: var(--success-color);
}

.textbox-fail {
  border-color: var(--failure-color);
}
