<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="input.css" />
    <title>Input</title>
  </head>
  <body>
    <h2>Input section</h2>
    <section class="temp_container">
      <input type="text" class="textbox" placeholder="Something" />
      <input
        type="text"
        class="textbox textbox-success"
        placeholder="Success"
      />
      <input type="text" class="textbox textbox-fail" placeholder="fail" />
    </section>
  </body>
</html>
