<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    
    <h1>Avatar</h1>
    
    <img src="https://doodleipsum.com/30x30/avatar" class="avatar avatar-xs"></img>
    <img src="https://doodleipsum.com/40x40/avatar" class="avatar avatar-sm"></img>
    <img src="https://doodleipsum.com/50x50/avatar" class="avatar avatar-md"></img>
    <img src="https://doodleipsum.com/60x60/avatar" class="avatar avatar-lg"></img>
  
  </body>
</html>
