<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <!---Avatar with images--->
    <h1>Avatar with images</h1>
    <section class="temp_container">
      <!---Avatar xs--->
      <div class="avatar avatar-xs">
        <img
          class="avatar-img"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
          alt="avatar"
        />
      </div>

      <!---Avatar sm--->
      <div class="avatar avatar-sm">
        <img
          class="avatar-img"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
          alt="avatar"
        />
      </div>

      <!---Avatar md--->
      <div class="avatar avatar-md">
        <img
          class="avatar-img"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
          alt="avatar"
        />
      </div>

      <!---Avatar lg--->
      <div class="avatar avatar-lg">
        <img
          class="avatar-img"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
          alt="avatar"
        />
      </div>
      <div class="avatar avatar-xlg">
        <img
          class="avatar-img"
          src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
          alt="avatar"
        />
      </div>
    </section>

    <!---Avatar with initials--->
    <h1>Avatar with initials</h1>
    <section class="temp_container">
      <div class="avatar avatar-xs avatar-initials">UN</div>
      <div class="avatar avatar-sm avatar-initials">UN</div>
      <div class="avatar avatar-md avatar-initials">UN</div>
      <div class="avatar avatar-lg avatar-initials">UN</div>
      <div class="avatar avatar-xlg avatar-initials">UN</div>
    </section>
  </body>
</html>
