<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="grid.css" />
    <title>Grid</title>
  </head>
  <body>
    <h2 class="text-center">Grid-2</h2>
    <div class="grid-temp-container grid-container grid-2 primary-color">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <br />

    <h2 class="text-center">Grid-3</h2>

    <div class="grid-temp-container grid-container grid-3 accent-color">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <br />

    <h2 class="text-center">Grid-sidebar</h2>
    <div
      class="grid-temp-container grid-container grid-2-sidebar primary-color"
    >
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
    <br />

    <h2 class="text-center">Grid-2-sidebar</h2>

    <div class="grid-temp-container grid-container grid-3-sidebar accent-color">
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
  </body>
</html>
