@import '/index.css';

.btn {
  display: inline-block;
  border: 3px solid transparent;
  font-weight: 600;
  padding: 0.5rem 0.62rem;
  border-radius: 4px;
  cursor: pointer;
  background: transparent;
  color: var(--secondary-text-color);
  white-space: nowrap;
}

/** button style **/

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
  border-color: var(--secondary-color);
}

.btn-accented {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.btn-white {
  background-color: white;
  border-color: white;
  color: var(--secondary-text-color);
}

.btn-black {
  background-color: black;
  border-color: black;
  color: var(--primary-text-color);
}

/** outlined button **/

.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.btn-outline-secondary {
  border-color: var(--secondary-color);
  color: var(--secondary-color);
}

.btn-outline-accented {
  border-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/** button with icons **/

.btn-icon {
  display: inline-block;
  margin-right: 4px;
}

/** link button **/

.btn-link-primary {
  color: var(--primary-color);
}

.btn-link-secondary {
  color: var(--secondary-color);
}

.btn-link-accented {
  color: var(--accent-color);
}

.link-active {
  color: var(--active-color);
}

/** floating button **/

.btn-float,
.btn-only-icon {
  padding: 0;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
}

.btn-float {
  box-shadow: 4px 8px 32px rgba(143, 143, 143, 0.13);
}

/** icon button **/

.btn-only-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.btn-square {
  border-radius: 25%;
}

/** button hover style **/

.btn:hover {
  background: var(--hover-color);
  color: var(--primary-text-color);
  border-color: var(--hover-color);
  box-shadow: 4px 8px 32px rgba(80, 74, 74, 0.308);
}

.btn-secondary:hover,
.btn-link-secondary:hover {
  background-color: var(--secondary-hover-color);
  border-color: var(--secondary-hover-color);
}

.btn-outline-primary:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-secondary:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
}

.btn-outline-accented:hover,
.btn-accented:hover,
.btn-link-accented:hover {
  background-color: var(--accent-hover-color);
  border-color: var(--accent-hover-color);
}

.btn-link-primary:hover,
.btn-link-secondary:hover,
.btn-link-accented:hover,
.btn-link:hover {
  text-decoration: underline;
}

.btn-only-icon {
  border: none;
}

.btn-black:hover {
  background-color: var(--primary-text-color);
  border-color: var(--primary-text-color);
  color: var(--secondary-text-color);
}

.btn-white:hover {
  background-color: var(--secondary-text-color);
  border-color: var(--secondary-text-color);
  color: var(--primary-text-color);
}
