<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="button.css" />
    <title>Button</title>
  </head>
  <body>
    <h2>Buttons</h2>
    <section class="temp_container">
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-secondary">Secondary</button>
      <button class="btn btn-accented">Secondary</button>
    </section>
    <br />

    <h2>Outlined buttons</h2>
    <section class="temp_container">
      <button class="btn btn-outline-primary">Outlined</button>
      <button class="btn btn-outline-secondary">Outlined</button>
      <button class="btn btn-outline-accented">Outlined</button>
    </section>
    <br />

    <h2>Button with icons</h2>
    <section class="temp_container">
      <button class="btn btn-secondary">
        <span class="fas fa-heart btn-icon"></span>Icon
      </button>
      <button class="btn btn-primary">
        <span class="fas fa-heart btn-icon"></span>Icon
      </button>
      <button class="btn btn-accented">
        <span class="fas fa-heart btn-icon"></span>Icon
      </button>
    </section>
    <br />

    <h2>Link buttons</h2>

    <section class="temp_container">
      <a class="btn btn-link link-active" href="#">link</a>
      <a class="btn btn-link-primary" href="#">link</a>
      <a class="btn btn-link-secondary" href="#">link2</a>
      <a class="btn btn-link-accented" href="#">link2</a>
    </section>
    <br />

    <h2>Floating buttons</h2>
    <section class="temp_container">
      <button class="btn btn-float btn-square btn-accented">
        <span class="fa-solid fa-angle-up"></span>
      </button>
      <button class="btn btn-float btn-primary">
        <span class="fa-solid fa-angle-up"></span>
      </button>
      <button class="btn btn-outline-secondary btn-float">
        <span class="fa-solid fa-angle-up"></span>
      </button>
    </section>
    <br />

    <h2>Icon buttons</h2>
    <section class="temp_container">
      <button class="btn btn-only-icon btn-square">
        <span class="fas fa-heart"></span>
      </button>
      <button class="btn btn-only-icon btn-link-secondary">
        <span class="fas fa-heart"></span>
      </button>
      <button class="btn btn-only-icon btn-link-accented">
        <span class="fas fa-heart"></span>
      </button>
    </section>
  </body>
</html>
