<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="card.css" />
    <title>Card</title>
  </head>
  <body>
    <h2>Card</h2>
    <section class="temp_container">
      <div class="card">
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit
            provident a voluptatum nesciunt quaerat eveniet fuga officiis
            reprehenderit natus voluptate temporibus debitis, maiores ratione
            ipsam cupiditate sunt ea quae id quas deleniti, animi unde.
            Dignissimos est aliquid nisi et eum atque, reiciendis ut? Rem ipsum
            in ducimus est inventore totam.
          </p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>
        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>
      <div class="card">
        <button class="btn btn-float close">
          <span class="fa-solid fa-xmark"></span>
        </button>
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>
        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>

      <div class="card card-horizontal">
        <button class="btn btn-float close">
          <span class="fa-solid fa-xmark"></span>
        </button>
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            eos perspiciatis! Deleniti minima culpa fuga, nisi veritatis nobis
            mollitia tempora!
          </p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>

        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>
      <div class="card card-horizontal">
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident,
            eos perspiciatis! Deleniti minima culpa fuga, nisi veritatis nobis
            mollitia tempora!
          </p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>

        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>

      <div class="card card-only-text">
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black
            <span class="badge-text badge-sm badge-accent">Trending</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-text-overlay">
          <span class="badge-text badge-lg badge-secondary">Out of stock</span>
        </div>
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>
        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>

      <div class="card card-horizontal">
        <div class="card-text-overlay">
          <span class="badge-text badge-lg badge-secondary">Out of stock</span>
        </div>
        <div class="image-container">
          <img
            class="card-image"
            src="https://images.unsplash.com/photo-1644447350146-e55d21d86e8b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=1000&q=60"
            alt="product-image"
          />
        </div>
        <div class="card-head">
          <h3 class="card-heading d-flex">
            Dog Black <span class="badge-text badge-sm badge-accent">Hot</span>
          </h3>
          <p class="card-subheading">by Jatin Sapru</p>
        </div>
        <div class="card-content">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

          <h3 class="card-pricing">
            $50<span class="card-og-price small-text">$100</span>
            <span class="badge-text badge-sm badge-secondary">50% off</span>
          </h3>
        </div>
        <div class="card-foot d-flex">
          <button class="btn btn-primary margin-r-5">Buy</button>
          <button class="btn btn-outline-secondary">add to cart</button>
          <button class="btn btn-only-icon">
            <span class="fas fa-heart"></span>
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
