<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="text.css" />
    <title>Text Utility</title>
  </head>
  <body>
    <!-- headings -->
    <div class="h1">heading-1</div>
    <div class="h2">heading-2</div>
    <div class="h3">heading-3</div>
    <div class="h4">heading-4</div>
    <div class="h5">heading-5</div>
    <div class="h6">heading-6</div>
    <br />
    <!--text-->
    <div class="xlarge-text">Extra Large text</div>
    <div class="large-text">Large Text</div>
    <div class="medium-text">Medium Text</div>
    <div class="small-text">small text</div>
    <div class="xsmall-text">extra small text</div>
    <br />
    <!--strike through text -->
    <div class="xlarge-text strike-text">Strike through text</div>

    <br />
    <div class="medium-text underline-text">This text has undeline</div>
    <br />
    <div class="medium-text primary-text-color">
      This text has primary text color.
    </div>
    <div class="medium-text secondary-text-color">
      This text has secondary text co lor.
    </div>
    <div class="medium-text accent-text-color">
      This text has accent text color.
    </div>
    <div class="medium-text muted-text-color">
      This text has accent text color.
    </div>
    <br />
    <div class=".small-text text-center">This text is center aligned</div>
    <div class=".small-text text-right">This text is right aligned</div>
  </body>
</html>
