@import '/index.css';

.textbox {
  padding: 8px 1rem;
  border-radius: 0.4rem;
  border: 3px solid var(--secondary-text-color);
  outline: none;
  min-width: 18rem;
  width: 70%;
  background: transparent;
}

.label {
  color: var(--secondary-text-color);
  font-weight: 600;
  opacity: 0.8;
  margin: 5px;
}

.label-success {
  color: var(--success-color-dark);
}
.label-failure {
  color: var(--failure-color-dark);
}

.label-disabled {
  color: var(--muted-text-color);
}

.textbox-textarea {
  background-color: var(--primary-text-color);
}

.textbox:focus,
.textbox:hover {
  border-color: var(--primary-color);
  box-shadow: inset 4px 8px 12px rgba(114, 114, 114, 0.137);
}

.textbox-success {
  border-color: var(--success-color);
}

.textbox-fail {
  border-color: var(--failure-color);
}

.textbox-disabled,
.textbox-disabled:hover {
  border-color: var(--muted-color);
}

.textbox-disabled:hover {
  box-shadow: none;
}
