<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="modal.css" />
    <title>Modal</title>
  </head>
  <body>
    <div class="modal shadow padding-1r">
      <button class="btn btn-float close">
        <span class="fa-solid fa-xmark"></span>
      </button>
      <div class="modal-head margin-t-b-5">
        <h1 class="modal-heading">Diwali Sale</h1>
      </div>
      <div class="modal-content medium-text margin-b-10 padding-1r">
        <p class="muted-text-color">
          Hurry!!! limited time deal on all products.
        </p>
      </div>
      <div class="modal-foot margin-t-5">
        <button class="btn btn-accented">Shop</button>
      </div>
    </div>
    <div class="modal modal-with-image shadow padding-1r margin-10">
      <button class="btn btn-float close">
        <span class="fa-solid fa-xmark"></span>
      </button>
      <div class="modal-head margin-t-b-5">
        <h1 class="modal-heading">Diwali Sale</h1>
      </div>

      <div class="modal-content medium-text margin-b-10 padding-1r">
        <div class="modal-image-container margin-b-10">
          <img
            class="responsive-img"
            src="/assets/images/lansdscape.jpg"
            loading
          />
          <p></p>
        </div>
      </div>
      <div class="modal-foot margin-t-5">
        <button class="btn btn-accented">Shop</button>
      </div>
    </div>
  </body>
</html>
