<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="snackbar.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Snackbar</title>
  </head>
  <body>
    <div class="snackbar snackbar-primary">
      <p class="snackbar-content">This is a snackbar</p>
    </div>
    <div class="snackbar snackbar-secondary snackbar-right">
      <p class="snackbar-content">This is a snackbar with close button</p>
      <button class="btn btn-only-icon btn-link-accented">
        <span class="fa-solid fa-arrow-rotate-right"></span>
      </button>
      <button class="btn btn-only-icon btn-link-accented">
        <span class="fa-solid fa-xmark"></span>
      </button>
    </div>
    <div class="snackbar snackbar-accent snackbar-center">
      <p class="snackbar-content">This is a snackbar with close button</p>
      <button class="btn btn-only-icon btn">
        <span class="fa-solid fa-xmark"></span>
      </button>
    </div>
  </body>
</html>
