<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="badge.css" />
    <title>Document</title>
  </head>
  <body>
    <h2>Badges on text</h2>
    <br />
    <section class="temp_container">
      <div class="badge-container">
        <div class="badge"></div>
        Badges on text
      </div>
      <div class="badge-container">
        <div class="badge">3</div>
        Badges on text with count
      </div>
      <div class="badge-container">
        text badge<span class="badge-text">Hot</span>
      </div>
    </section>
    <br />

    <h2>Badges on icons</h2>
    <br />
    <section class="temp_container">
      <div class="badge-container">
        <div class="badge"></div>
        <span class="fa-brands fa-amazon badge-icon"></span>
      </div>
      <div class="badge-container">
        <div class="badge">2</div>
        <span class="fas fa-shopping-cart badge-icon"></span>
      </div>
      <div class="badge-container">
        <div class="badge badge-online"></div>
        <span class="fa-brands fa-amazon badge-icon"></span>
      </div>
    </section>
    <br />

    <h2>Badges on avatar</h2>
    <br />
    <section class="temp_container">
      <div class="badge-container">
        <div class="badge badge-avatar"></div>
        <div class="avatar avatar-xlg avatar-initials">UN</div>
      </div>
      <div class="badge-container">
        <div class="badge badge-avatar badge-online"></div>
        <div class="avatar avatar-xlg avatar-initials">UN</div>
      </div>
      <div class="badge-container">
        <div class="badge badge-avatar badge-offline"></div>
        <div class="avatar avatar-xlg">
          <img
            class="avatar-img"
            src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=389&q=80"
            alt="avatar"
          />
        </div>
      </div>
    </section>
    <br />
    <h2>Badge size variation</h2>
    <br />
    <section class="temp_container">
      <p>text badge<span class="badge-text">Hot</span></p>
      <p>text badge<span class="badge-text badge-md badge-accent">Hot</span></p>
      <p>text badge<span class="badge-text badge-lg">Hot</span></p>
    </section>
    <br />
  </body>
</html>
